Aeropress Recipes
<fieldset>
<legend><h2>Recipe List</h2></legend>
<% for recipe in @recipes %>
    <% if recipe.brew_method == "Aeropress" %>
        <fieldset><legend><b>Recipe Name: </b><%=recipe.name%></legend>
           <table border = "0">
                <tr>
                    <td width = "100" align = "center"><b>Method</td>
                    <td width = "75" align = "center"><b>Water</td>
                    <td width = "50" align = "center"><b>Temp</td>
                    <td width = "50" align = "center"><b>Grams</td>
                    <td width = "100" align = "center" ><b>Grind</td>  
                    <td align = "center"><b>Ratio</td>  
                </tr></b>
                <tr>
                    <td align = "center"> <%= recipe.brew_method %> </td>
                    <td align = "center"> <%= recipe.water_weight %>ml</td>
                    <td align = "center"> <%= recipe.water_temp %> </td>
                    <td align = "center"> <%= recipe.grams %> </td>
                    <td align = "center"> <%= recipe.grind %> </td>
                    <td align = "center"> <%= recipe.ratio %> </td>
                </tr>
                    <table border = "0">
                        <td width = "100" align = "center"><b>Information</td>   
                        <td width = "500" align = "center"> <%= recipe.info %> </td>
                    </table>
                    <table border = "0">
                        <tr>
                        <td align = "center" width = "425" ><b>Average Rating <%= recipe.average_bean_rating%></b> </td>
                        </tr>
                        <tr><td><button><a href="/recipes/<%= recipe.id %>">Select This Recipe</a></button></td></tr>
                    </table>
                </fieldset><br>
            </table>
        </fieldset><br>
    <% end %>
<% end%>