<h4> Welcome to Reviews viewer in reviews/index.erb </h4>
<link rel="stylesheet" type="text/css" href="style.css"> 
<body>

<fieldset>
<legend><h3>Create A New Review </h3></legend> 
<button><h3><a href="/reviews/new">NEW</h3></a></button><br>
</fieldset>
<fieldset>
<legend><h2>Review List (<%= @reviews.length %> currently)</h2></legend>
<% for review in @reviews %>
<fieldset>
<legend><b>Review id: <%=review.id%></b></legend>
<br><table>
<tr>
    <td>Review :<%=review.review%></td></tr>  
    <td>Rating :<%=review.bean_rating%></td>
    <tr><td><button><a href="/reviews/<%= review.id %>">SELECT</a></button></td></tr>
</table>
</fieldset>
<br><br>
<% end%>


</body>