<h1> Welcome to Recipes viewer in recipes/index.erb <h1>

<h4>
<% for recipe in @recipes %>
Recipe id: <%= recipe.id %> 
<br><table>
<tr>-----------------------------------------------------------------------------------
    <td>Recipe Name :<%=recipe.name%></td>
    </tr>  
</table>
<table> 
    <tr>-----------------------------------------------------------------------------------
    <td>Method</td>
    <td>Water</td>
    <td>Temp</td>
    <td>Grams</td>
    <td>Grind</td>  
    </tr>
        <tr>
        <td> <%= recipe.brew_method %> </td>
        <td> <%= recipe.water_weight %>ml</td>
        <td> <%= recipe.water_temp %> </td>
        <td> <%= recipe.grams %> </td>
        <td> <%= recipe.grind %> </td>
        </tr>
    <tr>
    <th>Comments:    </th>
    <th>  <%= recipe.info %> </th>
    </tr>
</table>
-----------------------------------------------------------------------------------
<br></br>
<% end%>
</h4>