<h1> Welcome to Recipes viewer in recipes/index.erb </h1>
-------------------------------------<br>
Create A New Recipe : <button><a href="/recipes/new">NEW</a></button><br>
-------------------------------------
<br>
<fieldset>
<h2> Recipe List </h2>
</fieldset>
<fieldset>
<% for recipe in @recipes %>
Average Bean Rating: <%= p recipe.average_bean_rating %>
Recipe id: <%= recipe.id %> 
<br>
</fieldset>
<fieldset>
    <td>Recipe Name :<%=recipe.name%></td>
<table> 
    <td>Method</td>
    <td>Water</td>
    <td>Temp</td>
    <td>Grams</td>
    <td>Grind</td>  
    </tr>
        <tr>
        <td> <%= recipe.brew_method %> </td>
        <td> <%= recipe.water_weight %>ml</td>
        <td> <%= recipe.water_temp %> </td>
        <td> <%= recipe.grams %> </td>
        <td> <%= recipe.grind %> </td>
        </tr>
    <tr>
    <td>Comments:    </td>
    <td>  <%= recipe.info %> </td>
    </tr>
    <td>Average Rating<%= recipe.average_bean_rating%></td>
    <tr><td><button><a href="/recipes/<%= recipe.id %>">SELECT</a></button></td></tr>
</table>
</fieldset>

<br></br>
<% end%>

<% for review in @reviews %>
<%= p review.id%>
Average Review: <%= review.average_bean_rating %>
<%end%>