<h1> Welcome to Recipes viewer in recipes/index.erb </h1>
-------------------------------------<br>
Create A New Recipe : <button><a href="/recipes/new">NEW</a></button><br>
-------------------------------------
<br>
<h2> Recipe List </h2>
<br>
<% for recipe in @recipes %>
Recipe id: <%= recipe.id %> 
<br><table>
<tr>-----------------------------------------------------------------------------------
    <td>Recipe Name :<%=recipe.name%></td>
    </tr>  
</table>
<table> 
    <tr>-----------------------------------------------------------------------------------
    <td>Method</td>
    <td>Water</td>
    <td>Temp</td>
    <td>Grams</td>
    <td>Grind</td>  
    </tr>
        <tr>
        <td> <%= recipe.brew_method %> </td>
        <td> <%= recipe.water_weight %>ml</td>
        <td> <%= recipe.water_temp %> </td>
        <td> <%= recipe.grams %> </td>
        <td> <%= recipe.grind %> </td>
        </tr>
    <tr>
    <td>Comments:    </td>
    <td>  <%= recipe.info %> </td>
    </tr>
    <tr><td><button><a href="/recipes/<%= recipe.id %>">SELECT</a></button></td></tr>
</table>
-----------------------------------------------------------------------------------
<br></br>
<% end%>
<% for review in @reviews %>
Average Review: <%= review.average_bean_rating %>
<%end%>