<h1>Patron by id views/recipes/show.erb</h1>
    <td>Recipe Name :<%=@recipes.name%></td>
    </tr>  
</table>
<table> 
    <tr>-----------------------------------------------------------------------------------
    <td>Method</td>
    <td>Water</td>
    <td>Temp</td>
    <td>Grams</td>
    <td>Grind</td>  
    </tr>
        <tr>
        <td> <%= @recipes.brew_method %> </td>
        <td> <%= @recipes.water_weight %>ml</td>
        <td> <%= @recipes.water_temp %> </td>
        <td> <%= @recipes.grams %> </td>
        <td> <%= @recipes.grind %> </td>
        </tr>
    <tr>
    <td>Comments:    </td>
    <td>  <%= @recipes.info %> </td>
    </tr>
</table>

<form action="/recipes/<%= @recipes.id %>/edit"></a><input type="submit" value="Edit"></form>
<form action="/recipes/<%= @recipes.id %>/delete" method="POST"><input type="submit" value="Delete"></form>